* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration:none;
}

body {
    height: 100%;
}

body header {
    background-color: #133231;
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body main {
    background-color: #133231;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body footer {
    background-color: #133231;
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div1 {
    display:flex;
}

.button1 {
    color: #000005;
    margin-left: 5px;
    background-color: #d8cbbe;
    border-style: none;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    height: 25px;
}
.button2 {
    color: #000005;
    margin-left: 5px;
    background-color: #d8cbbe;
    border-style: none;
    font-weight: bold;
    border-radius: 8px;
    width: 200px;
    height: 25px;
    
}

h1 {
    color: #4b4b53;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 4vh;
}

input {
    background-color: #d8cbbe;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    height: 25px;
    width: 100%;
    padding-left: 5px;
}

label {
    padding-top: 3px;
    display: block;
}

ul {
    list-style-type: none;
}

li {
    color: #000005;
    font-weight: bold;
    height: 25px;
    white-space: nowrap;
    display: flex;
}

.content {
    border-style:none;
    border-radius: 10px;
    background-color: #c299aa;
    padding: 10px;

}

.lixeira {
    padding-left: 5px;
    right: 0px;
    position: relative;
    display:block;
}